<%- include('../partials/head') %>
    <style>
        @keyframes oscillate {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(0);
            }
        }

        .oscillate {
            animation: oscillate 2s ease-in-out infinite;
            /* Adjust duration and timing as needed */
        }

        .card_p:hover .tr {
            transform: translateX(100%);
            transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            z-index: 9;
            border-color: #dee2e6;
            /* border: 1px solid; */
        }

        .packges_box .card_p:last-child:hover .tr {
            transform: translateX(-100%);
            transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            z-index: 9;
            border-color: #dee2e6;
            /* border: 1px solid; */
        }

        .card_p .tr {
            transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            z-index: 1;
            border: 1px solid transparent;
            /* border: 1px solid; */
        }

        .packges_info {
            position: absolute;
            width: calc(100% - 1.5rem);
            left: 0;
            bottom: 16px;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);
        }

        .bagde-flag-wrap {
            position: absolute;
            top: 20px;
            left: -12px;
        }

        .bagde-flag-wrap::before {
            content: "";
            position: absolute;
            top: 35px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 12px 12px 0;
            border-color: transparent #0CB2A7 transparent transparent;
        }

        .bagde-flag {
            text-transform: capitalize;
            color: #ffffff;
            background: #0CB2A7;
            letter-spacing: 0;
            font-size: 14px;
            line-height: 15px;
            font-weight: 600;
            padding: 10px 15px;
            display: block;
            text-decoration: none;
        }

        img.wide,
        img.tall {
            max-width: 100%;
            display: block;
            height: auto;
        }

        .gallery-grid img {
            border-radius: 10px;
        }

        .gallery-grid {
            display: grid;
            grid-template-columns: repeat(4, minmax(77px, 1fr));
            gap: 7px;
            grid-auto-rows: 111px;
            grid-auto-flow: dense;
            align-items: stretch;
            justify-items: center;
            margin: 0;
            padding: 0;
        }

        .wide {
            grid-column: span 1;
        }

        .tall {
            grid-row: span 2;
        }

        /* ocilate box */
        .dfgi {
            aspect-ratio: 1 / 1;
            width: 239px;
        }

        .rfaf {
            transform: translateY(-41px);
        }

        .nmkmfgy {
            transform: translateY(0px);
        }

        /* main slider */
        .main-slider .slide_content {
            padding: 120px 0 120px 120px;
        }

        .main-slider .slide_content p {
            width: 50%;
        }

        .main-slider,
        .main-slider .splide__track,
        .main-slider .splide__list,
        .main-slider .splide__slide {
            height: inherit !important;
        }

        /* top motch */
        .alskndf {
            height: 36rem;
        }

        .cus_h {
            height: 100%;
        }

        .alamk {
            padding-top: 0;
        }
        .afjqaf{
            height: 100%;
        }

        /* hoverable card */
        .packges_box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .card_p {
            width: 265px;
            margin-bottom: 20px;
        }

        /* why choose us */
        .metgi {
            transform: rotate(-45deg) translate(-8%, -79%);
            top: 50%;
            left: 50%;
            width: 100%;
            transform-origin: center center;
        }

        .vsxgfgs {
            width: 307px;
            aspect-ratio: 1/1;
            transform: rotate(45deg);
            transform-origin: center center;
        }

        .metgi i {
            font-size: 28px;
        }

        .sfadv {
            padding: 4rem 0;
        }

        /* happy cient */
        .bhehyrt {
            height: 100%;
        }

        /* media */
        @media only screen and (max-width: 1400px) {
            body {
                /* background-color: black; */
            }

            .dfgi {
                aspect-ratio: 1 / 1;
                width: 195px;
            }

            .rfaf {
                transform: translateY(3px);
            }

            .nmkmfgy {
                transform: translateY(71px);
            }

            .main-slider .slide_content {
                padding: 120px 0 120px 76px;
            }

            .alamk {
                padding-top: 3rem;
            }

        }

        @media only screen and (max-width: 1200px) {
            .alskndf {
                height: 82rem;
            }

            .cus_h {
                height: 50%;
            }

            .card_p:hover .tr {
                transform: translateX(0);
                opacity: 0;
                transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                z-index: 9;
                border-color: #dee2e6;
                /* border: 1px solid; */
            }

            .packges_box .card_p:last-child:hover .tr {
                transform: translateX(0%);
                opacity: 0;
                transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                z-index: 9;
                border-color: #dee2e6;
                /* border: 1px solid; */
            }

            .metgi {
                transform: rotate(-45deg) translate(4%, -66%);
            }
        }

        @media only screen and (max-width: 1024px) {
            .alskndf {
                height: 82rem;
            }

            .cus_h {
                height: 50%;
            }

            .packges_box {
                flex-wrap: wrap;
                justify-content: center;
            }

            .card_p {
                /* margin-bottom: 20px;  */
                width: 265px;
                margin: 0 20px 20px 0;
                /* Add space between elements */
            }

            .metgi p {
                font-size: 12px;
            }

            .metgi i {
                font-size: 28px;
            }

            .vsxgfgs {
                width: 220px;
            }

            .sfadv {
                padding: 4rem 0 0 0;
            }

        }

        @media only screen and (max-width: 768px) {
            .bhehyrt {
                height: auto;
            }

            .sfadv {
                padding: 4rem 0 0 0;
                flex-wrap: wrap;
                gap: 113px;
            }

            .vsxgfgs {
                margin: 0 4rem !important;
            }

            .thumbnail-slider .splide__slide.is-active {
                transform: unset;
                transition: all .5s ease-in-out;
                filter: brightness(1);
            }

            .thumbnail-slider .splide__slide {
                border-radius: 0px;
                overflow: hidden;
            }

            .thumbnail-slider .splide__slide:not(.is-active)+.splide__slide {
                margin-left: 0px;
                transition: all .5s ease-in-out;
            }

            .thumbnail-slider .splide__slide.is-active+.splide__slide {
                margin-left: 0px;
                transition: all .5s ease-in-out;
            }

            .splide__track--nav>.splide__list>.splide__slide {
                border: 0 solid transparent;
                cursor: pointer;
            }

            .splide__track--nav>.splide__list>.splide__slide.is-active {
                border: 0px solid white !important;
            }

            .main-slider .slide_content p {
                width: 100%;
            }

            .vbfont {
                font-size: 40px;
            }

            .alskndf {
                height: 133rem;
            }
            .cus_h:nth-of-type(1) {
        height: 70%;
    }
            .cus_h:nth-of-type(2) {
        height: 30%;
        margin-top: 2rem;
    }
    .afjqaf{
            height: 50%;
        }
    .afjqaf:nth-of-type(2){
            height: 50%;
            /* margin-top: 2rem; */
        }
        }
    </style>
    <div id="sliderTop" class="vh-100">
        <div class="splide main-slider" style="height: inherit;">
            <div class="splide__track" style="height: inherit;">
                <ul class="splide__list" style="height: inherit;">
                    <li class="splide__slide" style="height: inherit;">
                        <div class="slide_content text-white w-75" style="">
                            <p class="text-decoration-underline" style="text-underline-offset: 8px;">Discover and enjoy
                            </p>
                            <h1 class="fw-bold vbfont">Adventure in the Alps</h1>
                            <p class="">Experience the thrill of the Swiss Alps
                                Explore the majestic beauty of Switzerland's mountains.
                                Embark on an unforgettable journey through the Swiss Alps.</p>
                        </div>
                        <img style="height: inherit;" src="<%= basePath %>img/sl1.jpg" alt="Image 1">
                    </li>
                    <li class="splide__slide" style="height: inherit;">
                        <div class="slide_content text-white w-75">
                            <p class="text-decoration-underline" style="text-underline-offset: 8px;">Bask in Santorini's
                                Sunshine</p>
                            <h1 class="fw-bold vbfont">Sunny Escapes in Santorini.</h1>
                            <p class="">Escape to the picturesque island paradise of Santorini.
                                Indulge in the beauty of Santorini's whitewashed cliffs and crystal-clear waters.</p>
                        </div>
                        <img style="height: inherit;" src="<%= basePath %>img/sl2.jpg" alt="Image 2">
                    </li>
                    <li class="splide__slide" style="height: inherit;">
                        <div class="slide_content text-white w-75">
                            <p class="text-decoration-underline" style="text-underline-offset: 8px;">Unveil Rome's
                                Ancient Splendor</p>
                            <h1 class="fw-bold vbfont">Culture and History in Rome</h1>
                            <p class="">Immerse yourself in the timeless beauty of Rome
                                Explore the ancient wonders of the Eternal City
                                Indulge in the rich history and vibrant culture of Rome.</p>
                        </div>
                        <img style="height: inherit;" src="<%= basePath %>img/sl3.jpg" alt="Image 3">
                    </li>
                    <li class="splide__slide" style="height: inherit;">
                        <div class="slide_content text-white w-75">
                            <p class="text-decoration-underline" style="text-underline-offset: 8px;">Trek the Amazon's
                                Untamed Wilds</p>
                            <h1 class="fw-bold vbfont">Adventure in the Amazon Rainforest</h1>
                            <p class="">Embark on a thrilling adventure in the heart of the Amazon
                                Discover the wonders of the world's largest rainforest
                                Explore the biodiversity of the Amazon with expert guides.</p>
                        </div>
                        <img style="height: inherit;" src="<%= basePath %>img/sl4.jpg" alt="Image 2">
                    </li>
                    <li class="splide__slide" style="height: inherit;">
                        <div class="slide_content text-white w-75">
                            <p class="text-decoration-underline" style="text-underline-offset: 8px;">Relax in the
                                Maldives' Island Serenity</p>
                            <h1 class="fw-bold vbfont">Relaxation in the Maldives</h1>
                            <p class="">Escape to paradise in the Maldives
                                Indulge in luxury and tranquility on the pristine beaches of the Maldives
                                Experience ultimate relaxation in the idyllic surroundings of the Maldives.</p>
                        </div>
                        <img style="height: inherit;" src="<%= basePath %>img/sl5.jpg" alt="Image 1">
                    </li>

                </ul>
            </div>
        </div>
        <div class="splide thumbnail-slider position-absolute w-100" style="">
            <div class="splide__track">
                <ul class="splide__list p-5 justify-content-center" style="padding: 20px !important ;">
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl1.jpg"
                            alt="Image 1">
                    </li>
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl2.jpg"
                            alt="Image 2"></li>
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl3.jpg"
                            alt="Image 3"></li>
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl4.jpg"
                            alt="Image 2"></li>
                    <li class="splide__slide"><img style="height: inherit;" src="<%= basePath %>img/sl5.jpg"
                            alt="Image 1">
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- slider section-->
    <!-- vetnam section -->
    <div class="container my-4 section_padding">
        <div class="row gx-4 justify-content-center justify-content-lg-between">
            <div class="col-lg-6 col-xl-7 col-12">
                <div>
                    <h2 class="fs-1" style="font-weight: 900;">EXPOLRE VIETNAM WITH US</h2>
                    <p class="font_primary my-4">
                        Lörem ipsum dengen nilig därför att jilide, besat mikroktigt ifall poling såning. Dengar kagen
                        makrobel såsom mikrol oktigt rede. Mism superspridare fapuspegt. Kromalogod rånynde sobektig
                        kasm,
                        att osobel, det, konkemi filoitet. Neonetik hedössa i dinining sass pretenar som kalirtad.
                        Elektroosmos rening. Benebel pompekunskap att berade. Nåvis teraber. Vahet nynirade heterolaren.
                    </p>
                </div>
                <!-- slider -->
                <div class="splide destination-slider rounded-2 my-5" style="">
                    <div class="splide__track rounded-2">
                        <ul class="splide__list rounded-2">
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Ha Long Bay</p>
                                <img class="h-100 w-100" src="<%= basePath %>img/sl1.jpg" alt="Image 1">
                            </li>
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Hoi An Ancient Town</p>
                                <img class="h-100 w-100" src="<%= basePath %>img/sl2.jpg" alt="Image 2">
                            </li>
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Sa Pa</p>
                                <img class="h-100 w-100" src="<%= basePath %>img/sl3.jpg" alt="Image 3">
                            </li>
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Hue</p>
                                <img class="h-100 w-100" src="<%= basePath %>img/sl4.jpg" alt="Image 2">
                            </li>
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Phong Nha-Ke Bang National
                                    Park</p>
                                <img class="h-100 w-100" style="height: inherit;" src="<%= basePath %>img/sl1.jpg"
                                    alt="Image 1">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 col-12 oscillate row">
                <div class="col-6 rfaf">
                    <div class=" my-4 rounded-2 overflow-hidden shadow-lg dfgi  m-auto">
                        <img class="w-100" style="height: inherit;height: 100%;" src="<%= basePath %>img/sl1.jpg"
                            alt="Image 1">
                    </div>
                    <div class=" my-2 rounded-2 overflow-hidden shadow-lg dfgi m-auto">
                        <img class="w-100 " src="<%= basePath %>img/sl4.jpg" alt="Image 2" style="height: 100%;">
                    </div>
                </div>
                <div class="col-6 nmkmfgy">
                    <div class=" my-4 rounded-2 overflow-hidden shadow-lg dfgi m-auto">
                        <img class="w-100 " src="<%= basePath %>img/sl4.jpg" alt="Image 2" style="height: 100%;">
                    </div>
                    <div class=" my-2 rounded-2 overflow-hidden shadow-lg dfgi m-auto">
                        <img class="w-100" style="height: inherit;height: 100%;" src="<%= basePath %>img/sl1.jpg"
                            alt="Image 1">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- call to action form -->
    <div class="container my-4 section_padding">
        <!-- Destination drop down selecter -->
        <!-- from   date -->
        <!-- select duration -->
        <!-- budget -->
        <!-- tour type -->
        <div class="shadow-lg bg-white p-4">
            <form method="post">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="flex-grow-1 m-2">
                        <label for="" class="w-100 my-2">Select Destination</label>
                        <div class=" p-3 bg-light text-muted">
                            <select name="s" class="border-0 bg-transparent outline-0 w-100">
                                <option value="#">vietnam</option>
                                <option value="#">Maldiv</option>
                                <option value="#">Thailand</option>
                                <option value="#">Spain</option>
                                <option value="#">Egypt</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex-grow-1 m-2">
                        <label for="" class="w-100 my-2">Date</label>
                        <div class=" p-3 bg-light text-muted">
                            <input type="text" id="datepicker" placeholder="DD / MM / YY"
                                class="border-0 bg-transparent outline-0 w-100">
                        </div>
                    </div>
                    <div class="flex-grow-1 m-2">
                        <label for="" class="w-100 my-2">Duration</label>
                        <div class=" p-3 bg-light text-muted">
                            <input type="text" id="" class="border-0 bg-transparent outline-0 w-100"
                                placeholder="7 Days">
                        </div>
                    </div>
                    <div class="flex-grow-1 m-2">
                        <label for="" class="w-100 my-2">Tour Type</label>
                        <div class=" p-3 bg-light text-muted">
                            <select name="s" class="border-0 bg-transparent outline-0 w-100">
                                <option value="#">Adventure</option>
                                <option value="#">Cultural</option>
                                <option value="#">Luxury</option>
                                <option value="#">Random People</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex-grow-1 m-2">
                        <button type="button" class="w-100 border-0 gradiant p-3 text-white">Inquire Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- top destination  -->
    <div class="container my-4 section_padding">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <h2 class=" fs-1 " style="font-weight: 900;">TOP NOTCH DESTINATION</h2>
            </div>
            <div class="col-md-6 col-12">
                <p>Aperiam sociosqu urna praesent, tristique, corrupti condimentum asperiores platea ipsum ad arcu.
                    Nostrud. Aut nostrum, ornare quas provident laoreet nesciunt.</p>
            </div>
            <div class="row my-4 alskndf">
                <div class="col-xl-7 my-3 col-md-12 cus_h">
                    <div class="row h-100">
                        <div class="col-md-6 col-12 afjqaf">
                            <div class="h-100 p-2 bg-white shadow-lg position-relative">
                                <div class="hover h-100 position-relative">
                                    <p class="position-absolute z-1 top-0 start-0 bg-white p-2 m-4"
                                        style="letter-spacing: 1pt;">Thailand</p>
                                    <div class="position-absolute z-1 bottom-0 start-0 fs-4 p-2 m-4"
                                        style="letter-spacing: 1pt;">
                                        <p class="text-white mb-0">The Grand Palace</p>
                                        <span
                                            class="badge rounded-pill bg-white border border-light v_sm_text text-black fw-lighter">Wonder/Nature</span>
                                    </div>
                                    <div class="overlay"></div>
                                    <img class="h-100  w-100" style="width: 100%; object-fit:cover;"
                                        src="<%= basePath %>img/sung-shin-KipWnQeqUhc-unsplash.jpg" alt="Image 2">
                                </div>
                                <!-- the grand palace -->
                            </div>

                        </div>
                        <div class="col-md-6 col-12 afjqaf">
                            <div class="h-100 p-2 bg-white shadow-lg position-relative my-3">
                                <div class="hover h-100 position-relative">
                                    <p class="position-absolute z-1 top-0 start-0 bg-white p-2 m-4"
                                        style="letter-spacing: 1pt;">Norway</p>
                                    <div class="position-absolute z-1 bottom-0 start-0 fs-4 p-2 m-4"
                                        style="letter-spacing: 1pt;">
                                        <p class="text-white mb-0">Trolltunga</p>
                                        <span
                                            class="badge rounded-pill bg-white border border-light v_sm_text text-black fw-lighter">Adventure/Nature</span>
                                    </div>
                                    <div class="overlay"></div>
                                    <img class="h-100 " style="width: 100%; object-fit:cover;"
                                        src="<%= basePath %>img/sebastien-goldberg-vgGjc_jHyfU-unsplash.jpg"
                                        alt="Image 2">
                                </div>
                                <!-- Trolltunga -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-12  my-3 cus_h">
                    <div class="col-12 col-12  h-50 pb-2">
                        <div class="shadow-lg p-2 bg-white position-relative h-100">
                            <div class="hover h-100 position-relative">
                                <p class="position-absolute z-1 top-0 start-0 bg-white p-2 m-4"
                                    style="letter-spacing: 1pt;">
                                    Japan</p>
                                <div class="position-absolute z-1 bottom-0 start-0 fs-4 p-2 m-4"
                                    style="letter-spacing: 1pt;">
                                    <p class="text-white mb-0">The Kumano Kodo</p>
                                    <span
                                        class="badge rounded-pill bg-white border border-light v_sm_text text-black fw-lighter">Adventure/Cultural</span>
                                </div>
                                <div class="overlay"></div>
                                <img class="h-100" style="width: 100%;object-fit:cover;aspect-ratio: 2/1;"
                                    src="<%= basePath %>img/kumano-kodo-1030462_1280.jpg" alt="Image 2">
                            </div>
                            <!-- The Kumano Kodo -->
                        </div>
                    </div>

                    <div class="col-12 h-50 pt-3">
                        <div class="shadow-lg bg-white p-2 h-100">
                            <div class="hover h-100 position-relative">
                                <p class="position-absolute z-1 top-0 start-0 bg-white p-2 m-4"
                                    style="letter-spacing: 1pt;">
                                    Singapore</p>
                                <div class="position-absolute bottom-0 z-1 start-0 fs-4 p-2 m-4"
                                    style="letter-spacing: 1pt;">
                                    <p class="text-white mb-0">Gardens by the Bay</p>
                                    <span
                                        class="badge rounded-pill bg-white border border-light v_sm_text text-black fw-lighter">Wonder/Nature</span>
                                </div>

                                <div class="overlay"></div>
                                <img class="h-100" style="width: 100%;object-fit:cover;aspect-ratio: 2/1;"
                                    src="<%= basePath %>img/victor-yi56XJsYY0Q-unsplash.jpg" alt="Image 2">
                            </div>
                            <!-- Gardens by the Bay -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 d-flex justify-content-center mt-5  alamk">
                <button type="button" class="border-0 gradiant p-3 text-white ">Explore Destinations</button>
            </div>
        </div>
    </div>
    <!-- pacages -->
    <div class="container my-4 ">
        <h2 class="text-center fs-1 pb-5 mb-5" style="font-weight: 900;">PACKAGES, <span class="fs-4">you will fall in
                love with</span> </h2>
        <div class="d-flex packges_box">
            <!-- one -->
            <div class="shadow-sm card_p">
                <div class="position-relative" style="height: 320px; ">
                    <img class="h-100 w-100" src="<%= basePath %>img/sung-shin-KipWnQeqUhc-unsplash.jpg" alt=""
                        style="object-fit: cover;">
                    <div class="des_type position-absolute top-0 end-0 m-3 bg-white p-2">
                        <h6 class="mb-0">Adventure Tours</h6>
                    </div>

                    <div class="row gx-0 align-items-center packges_info" style="">
                        <div class="col-4 gradiant p-1">
                            <p style="font-size: 14px;" class="text-center mb-0">people: 4-8</p>
                        </div>
                        <div class="col-4 gradiant p-1">
                            <p style="font-size: 14px;" class="text-center mb-0 line position-relative">7D/6N</p>
                        </div>
                        <div class="col-4 bg-white p-1">
                            <p style="font-size: 14px; " class="text-center mb-0">Book now
                            </p>
                        </div>
                    </div>
                    <div class="info tr p-3 position-absolute bottom-0 bg-white pb-5">

                        <p class="fw-bold mb-0">Places you can vsit</p>
                        <div class="my-2">
                            <span
                                class="badge rounded-pill bg-white border v_sm_text text-black fw-lighter">malashia</span>
                            <span
                                class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">rukteriaman</span>
                            <span class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">sunbrubb
                                ginath</span>
                            <span class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">sunbrubb
                                ginath</span>
                        </div>
                        <p style="font-size: 12px;" class="text-muted">Lörem ipsum dengen nilig därför att jilide, besat
                            mikroktigt ifall poling såning. Dengar kagen
                            makrobel såsom mikrol oktigt rede. Mism superspridare fapuspegt. Kromalogod rånynde sobektig
                        </p>

                    </div>
                </div>

            </div>
            <!-- Two -->
            <div class="shadow-sm card_p">
                <div class="position-relative" style="height: 320px; ">
                    <img class="h-100 w-100" src="<%= basePath %>img/sung-shin-KipWnQeqUhc-unsplash.jpg" alt=""
                        style="object-fit: cover;">
                    <div class="des_type position-absolute top-0 end-0 m-3 bg-white p-2">
                        <h6 class="mb-0">Adventure Tours</h6>
                    </div>

                    <div class="row gx-0 align-items-center packges_info">
                        <div class="col-4 gradiant p-1">
                            <p style="font-size: 14px;" class="text-center mb-0">people: 4-8</p>
                        </div>
                        <div class="col-4 gradiant p-1">
                            <p style="font-size: 14px;" class="text-center mb-0 line position-relative">7D/6N</p>
                        </div>
                        <div class="col-4 bg-white p-1">
                            <p style="font-size: 14px; " class="text-center mb-0">Book now
                            </p>
                        </div>
                    </div>
                    <div class="info tr p-3 position-absolute bottom-0 bg-white pb-5">

                        <p class="fw-bold mb-0">Places you can vsit</p>
                        <div class="my-2">
                            <span
                                class="badge rounded-pill bg-white border v_sm_text text-black fw-lighter">malashia</span>
                            <span
                                class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">rukteriaman</span>
                            <span class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">sunbrubb
                                ginath</span>
                            <span class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">sunbrubb
                                ginath</span>
                        </div>
                        <p style="font-size: 12px;" class="text-muted">Lörem ipsum dengen nilig därför att jilide, besat
                            mikroktigt ifall poling såning. Dengar kagen
                            makrobel såsom mikrol oktigt rede. Mism superspridare fapuspegt. Kromalogod rånynde sobektig
                        </p>

                    </div>
                </div>

            </div>
            <!-- three -->
            <div class="shadow-sm card_p">
                <div class="position-relative" style="height: 320px; ">
                    <img class="h-100 w-100" src="<%= basePath %>img/sung-shin-KipWnQeqUhc-unsplash.jpg" alt=""
                        style="object-fit: cover;">
                    <div class="des_type position-absolute top-0 end-0 m-3 bg-white p-2">
                        <h6 class="mb-0">Adventure Tours</h6>
                    </div>

                    <div class="row gx-0 align-items-center packges_info">
                        <div class="col-4 gradiant p-1">
                            <p style="font-size: 14px;" class="text-center mb-0">people: 4-8</p>
                        </div>
                        <div class="col-4 gradiant p-1">
                            <p style="font-size: 14px;" class="text-center mb-0 line position-relative">7D/6N</p>
                        </div>
                        <div class="col-4 bg-white p-1">
                            <p style="font-size: 14px;" class="text-center mb-0">Book now
                            </p>
                        </div>
                    </div>
                    <div class="info tr p-3 position-absolute bottom-0 bg-white pb-5">

                        <p class="fw-bold mb-0">Places you can vsit</p>
                        <div class="my-2">
                            <span
                                class="badge rounded-pill bg-white border v_sm_text text-black fw-lighter">malashia</span>
                            <span
                                class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">rukteriaman</span>
                            <span class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">sunbrubb
                                ginath</span>
                            <span class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">sunbrubb
                                ginath</span>
                        </div>
                        <p style="font-size: 12px;" class="text-muted">Lörem ipsum dengen nilig därför att jilide, besat
                            mikroktigt ifall poling såning. Dengar kagen
                            makrobel såsom mikrol oktigt rede. Mism superspridare fapuspegt. Kromalogod rånynde sobektig
                        </p>

                    </div>
                </div>

            </div>
            <!-- four -->
            <div class="shadow-sm card_p">
                <div class="position-relative" style="height: 320px; ">
                    <img class="h-100 w-100" src="<%= basePath %>img/sung-shin-KipWnQeqUhc-unsplash.jpg" alt=""
                        style="object-fit: cover;">
                    <div class="des_type position-absolute top-0 end-0 m-3 bg-white p-2">
                        <h6 class="mb-0">Adventure Tours</h6>
                    </div>

                    <div class="row gx-0 align-items-center packges_info">
                        <div class="col-4 gradiant p-1">
                            <p style="font-size: 14px;" class="text-center mb-0">people: 4-8</p>
                        </div>
                        <div class="col-4 gradiant p-1">
                            <p style="font-size: 14px;" class="text-center mb-0 line position-relative">7D/6N</p>
                        </div>
                        <div class="col-4 bg-white p-1">
                            <p style="font-size: 14px;" class="text-center mb-0">Book now
                            </p>
                        </div>
                    </div>
                    <div class="info tr p-3 position-absolute bottom-0 bg-white pb-5">

                        <p class="fw-bold mb-0">Places you can vsit</p>
                        <div class="my-2">
                            <span
                                class="badge rounded-pill bg-white border v_sm_text text-black fw-lighter">malashia</span>
                            <span
                                class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">rukteriaman</span>
                            <span class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">sunbrubb
                                ginath</span>
                            <span class="badge rounded-pill bg-white border  v_sm_text text-black fw-lighter">sunbrubb
                                ginath</span>
                        </div>
                        <p style="font-size: 12px;" class="text-muted">Lörem ipsum dengen nilig därför att jilide, besat
                            mikroktigt ifall poling såning. Dengar kagen
                            makrobel såsom mikrol oktigt rede. Mism superspridare fapuspegt. Kromalogod rånynde sobektig
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- why choose us -->
    <div class="container my-4 section_padding">
        <h2 class="text-center fs-1 py-3 mb-4" style="font-weight: 900;">WHY CHOOSE US !</h2>
        <p class="text-center my-4">Aperiam sociosqu urna praesent, tristique, corrupti condimentum asperiores platea
            ipsum ad arcu. Nostrud. Aut nostrum, ornare quas provident laoreet nesciunt corrupti condimentum asperiores
            platea ipsum ad arcu. Nostrud. Aut nostrum, ornare quas provident laoreet nesciunt.</p>
        <div class="d-flex justify-content-center sfadv">
            <div class="shadow-lg bg-white rounded p-4 position-relative mx-4 vsxgfgs" containt-div text-center
                position-absolute p-4 metgi>
                <div class="containt-div text-center position-absolute p-4 metgi">
                    <i class="fa-regular fa-face-smile-wink gradiant-text "></i>
                    <h6 class="fw-bold my-3">1000+ Happy Cutomer</h6>
                    <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus beatae ipsa
                        deleniti corporis earum placeat ipsum quasi fugit molestiae recusandae?</p>
                </div>
            </div>
            <div class="shadow-lg bg-white rounded p-4 position-relative mx-3 vsxgfgs z-2">
                <div class="containt-div text-center position-absolute p-4 metgi">
                    <i class="fa-solid fa-people-robbery gradiant-text  "></i>
                    <h6 class="fw-bold my-3">Memorable Tours</h6>
                    <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus beatae ipsa
                        deleniti corporis earum placeat ipsum quasi fugit molestiae recusandae?</p>
                </div>
            </div>
            <div class="shadow-lg bg-white rounded p-4 position-relative mx-5 vsxgfgs" containt-div text-center
                position-absolute p-4 metgi>
                <div class="containt-div text-center position-absolute p-4 metgi">
                    <i class="fa-solid fa-hand-holding-dollar gradiant-text  "></i>
                    <h6 class="fw-bold my-3">Affordable Price</h6>
                    <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus beatae ipsa
                        deleniti corporis earum placeat ipsum quasi fugit molestiae recusandae?</p>
                </div>
            </div>
        </div>
    </div>
    <!-- why choose us -->
    <!-- offers you wish for -->
    <div class="container my-4 section_padding">
        <h2 class="text-center fs-1 pb-5 mb-5" style="font-weight: 900;">OFFERS, <span class="fs-4">you wish for</span>
        </h2>
        <div class="offer_container row">
            <div class="col-lg-6 col-12 my-3" style="height: 285px;">
                <div class="d-flex h-100">
                    <div class="w-50 position-relative h-100">
                        <img src="<%= basePath %>img/sung-shin-KipWnQeqUhc-unsplash.jpg" alt="" class="w-100 h-100"
                            style="object-fit: cover;">
                        <div class="position-absolute top-0 end-0 m-3 bg-white p-2">
                            <h6 class="mb-0">New Zealand</h6>
                        </div>
                        <div class="bagde-flag-wrap">
                            <p class="bagde-flag">20% OFF</p>
                        </div>
                    </div>
                    <div class="bg-white w-50 h-100 p-3">
                        <p class="fw-bold">Experience the Ultimate Mountain Adventure </p>
                        <p style="color: #FFA500;"
                            class="badge rounded-pill bg-white border v_sm_text border-warning mb-0">ONLY 15DAYS LEFT
                        </p>
                        <p class="text-muted mt-1" style="font-size: 12px;    height: calc(285px - 156px)">Embark on an
                            unforgettable trekking journey to our secluded mountain campsite. Immerse
                            yourself in the beauty of nature as you trek through lush forests, cross babbling streams,
                            and ascend to breathtaking vistas. Spend the night under the stars at our exclusive</p>
                        <div class=" row mx-0">
                            <button style="font-size: 14px;"
                                class="text-center mb-0 p-1 px-2 gradiant text-white border-0 col-6">Book now
                            </button>
                            <button style="font-size: 14px;border: 1px solid #0CB2A7;"
                                class="text-center mb-0 bg-white p-1 px-2 col-6">Promo Code
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 my-3" style="height: 285px;">
                <div class="d-flex h-100">
                    <div class="w-50 position-relative h-100">
                        <img src="<%= basePath %>img/sung-shin-KipWnQeqUhc-unsplash.jpg" alt="" class="w-100 h-100"
                            style="object-fit: cover;">
                        <div class="position-absolute top-0 end-0 m-3 bg-white p-2">
                            <h6 class="mb-0">New Zealand</h6>
                        </div>
                        <div class="bagde-flag-wrap">
                            <p class="bagde-flag">20% OFF</p>
                        </div>
                    </div>
                    <div class="bg-white w-50 h-100 p-3">
                        <p class="fw-bold">Experience the Ultimate Mountain Adventure </p>
                        <p style=" color: #FFA500;"
                            class="badge rounded-pill bg-white border v_sm_text border-warning mb-0">LIMITED TIME OFFER
                        </p>
                        <p class="text-muted mt-1" style=" font-size: 12px;     height: calc(285px - 156px);">Embark on
                            an unforgettable trekking journey to our secluded
                            mountain campsite. Immerse
                            yourself in the beauty of nature as you trek through lush forests, cross babbling streams,
                            and ascend to breathtaking vistas.</p>
                        <div class=" row mx-0">
                            <button style="font-size: 14px;"
                                class="text-center mb-0 p-1 px-2 gradiant text-white border-0 col-6">Book now
                            </button>
                            <button style="font-size: 14px;border: 1px solid #0CB2A7;"
                                class="text-center mb-0 bg-white p-1 px-2 col-6">Promo Code
                                <!-- on this a pop up will open and there is a gamil input and address input and a button {check likha hoga )} -->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- make a why choose us section -->
    <!-- book now -->
    <div class="container my-4 section_padding">
        <div class="row justify-content-between">
            <div class="col-md-6 col-12 row">
                <h2 class=" fs-1 py-3 mb-4" style="font-weight: 900;"> GIVE US A CALL
                </h2>
                <div class="gallery">
                    <div class="gallery-grid">
                        <img class="wide"
                            src="https://images.unsplash.com/photo-1493807394496-2d6d8a70dc5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=400&h=400"
                            alt="">
                        <img class="tall"
                            src="https://images.unsplash.com/photo-1568996550942-bff3caa44949?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&&w=400&h=800"
                            alt="">
                        <img class="wide"
                            src="https://images.unsplash.com/photo-1484942835385-dcb3923c11e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=400&h=400"
                            alt="">
                        <img class="wide"
                            src="https://images.unsplash.com/photo-1428364685224-aa2d596d2cf0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=400&h=400"
                            alt="">
                        <img class="tall"
                            src="https://images.unsplash.com/photo-1586522471252-68f4b108ff2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=400&h=800"
                            alt="">
                        <img class="wide"
                            src="https://images.unsplash.com/photo-1450791985525-55b3bc4aae7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=400&h=400"
                            alt="">
                        <img class="tall"
                            src="https://images.unsplash.com/photo-1557478551-8d6953a259eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=400&h=400"
                            alt="">
                        <img class="tall"
                            src="https://images.unsplash.com/photo-1587239101950-094ae8291a6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=400&h=800"
                            alt="">
                        <img class="wide"
                            src="https://images.unsplash.com/photo-1464777649758-8747547e793f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=400&h=400"
                            alt="">

                    </div>
                </div>

            </div>
            <div class="col-md-6 col-12 p-3">
                <form method="post">
                    <input type="text" name="" class="border px-2 py-3 my-3 w-100" placeholder="Name">
                    <input type="email" name="" class="border px-2 py-3 my-3 w-100" placeholder="Email">
                    <input type="number" name="" class="border px-2 py-3 my-3 w-100" placeholder="Phone Number">
                    <textarea type="text" name="" class="border px-2 py-3 my-3 w-100"
                        placeholder="Tour interests or questions!"></textarea>
                    <button type="button" class="border-0 gradiant p-3 text-white float-end">Submit Inquiry</button>
                </form>
            </div>
        </div>

    </div>
    <!-- testimonial -->
    <div class="test_bg-img">
        <div class="container my-5 py-5 h-100">
            <div class="row bhehyrt">
                <div class="col-md-6 col-12 h-100 d-flex align-items-center justfy-content-center text-white">
                    <div class="">
                        <h2 class=" fs-1 py-3 mb-4 d-none d-md-block" style="font-weight: 900;"> OUR <br> HAPPY <br>
                            CLIENTS
                            <h2 class=" fs-1 py-3 mb-4 d-md-none d-block" style="font-weight: 900;"> OUR HAPPY CLIENTS
                            </h2>
                            <p class="text-white-50">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
                                labore
                                laborum similique pariatur totam alias odit laboriosam, qui nobis blanditiis maxime
                                possimus
                                autem distinctio perspiciatis beatae consectetur eveniet? Inventore, dolores quidem iste
                                fuga dignissimos sed ea laudantium quod! Asperiores, deleniti!</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 h-100 d-flex align-items-center justfy-content-center text-white">

                    <div class="splide testimonial">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <div class="text-center p-3">
                                        <p>Traveling with [Company Name] was a life-changing experience! From
                                            breathtaking
                                            views to seamless organization, every moment was unforgettable. I can't wait
                                            to
                                            embark on my next adventure with them.</p>
                                        <span class="float-end fw-bold">By Emma Smith</span>
                                    </div>
                                </li>
                                <li class="splide__slide">
                                    <div class="text-center p-3">
                                        <p>Traveling with [Company Name] was an absolute joy! The guides were
                                            knowledgeable,
                                            the accommodations were superb, and the memories made will last a lifetime.
                                        </p>
                                        <span class="float-end fw-bold">By Alexandra Lee</span>
                                    </div>
                                </li>
                                <li class="splide__slide">
                                    <div class="text-center p-3">
                                        <p>I cannot recommend [Company Name] enough! From start to finish, every detail
                                            was
                                            taken care of, allowing me to relax and fully immerse myself in the
                                            adventure.
                                        </p>
                                        <span class="float-end fw-bold">By Emily Johnson</span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>

        <script>
            flatpickr("#datepicker", {
                dateFormat: "d-m-Y", // Set the date format to YYYY-MM-DD
                // Other options...
            });
            document.addEventListener('DOMContentLoaded', function () {
                var mainSlider = new Splide('.main-slider', {
                    // Your main slider options here
                    type: 'fade',
                    heightRatio: 0.48,
                    pagination: false,
                    arrows: false,
                    cover: true,
                    breakpoints: {
                        600: {
                            heightRatio: 0.7,
                        },
                    }
                }).mount();

                var thumbnailSlider = new Splide('.thumbnail-slider', {
                    // Your thumbnail slider options here
                    fixedWidth: 220,
                    fixedHeight: 126,
                    isNavigation: true,
                    gap: 20,
                    arrows: false,
                    // focus       : 'center',
                    pagination: false,
                    cover: true,
                    breakpoints: {
                        1288: {
                            fixedWidth: 190,
                            fixedHeight: 126,
                        },
                        1024: {
                            fixedWidth: 140,
                            fixedHeight: 90,
                        },
                        768: {
                            fixedWidth: 100,
                            fixedHeight: 60,
                            gap: 0,
                            // focus : 'center'
                        },
                    }
                }).mount();

                mainSlider.sync(thumbnailSlider);

                thumbnailSlider.on('click', function (slide) {
                    mainSlider.go(slide.index);
                });

                var splide = new Splide('.destination-slider', {
                    type: 'fade',
                    fixedHeight: 300,
                    fixedWidth: '100%',
                    pagination: false,
                    arrows: true,
                    cover: true,
                    type: 'fade',
                    rewind: true,
                    autoplay: true,
                });

                splide.mount();
                new Splide('.testimonial', {
                    type: 'slide',
                    perPage: 1, // Number of slides to show at once
                    autoplay: true, // Enable autoplay
                    pauseOnHover: false, // Disable pausing on hover
                    interval: 3000, // Autoplay interval in milliseconds
                    type: 'fade',
                    arrows: false, // Hide navigation arrows
                    pagination: false, // Hide pagination
                }).mount();
            });
            // overlay animation


            // Select all elements with the class 'shadow-lg'
            const getHoverDirection = function (event) {
                var directions = ['top', 'right', 'bottom', 'left'];
                var item = event.currentTarget;

                // Width and height of current item
                var w = item.offsetWidth;
                var h = item.offsetHeight;

                // Calculate the x/y value of the pointer entering/exiting, relative to the center of the item.
                // Scale (sort of normalize) the coordinate on smallest side to the scale of the longest.
                var x = (event.clientX - item.getBoundingClientRect().left - (w / 2)) * (w > h ? (h / w) : 1);
                var y = (event.clientY - item.getBoundingClientRect().top - (h / 2)) * (h > w ? (w / h) : 1);

                // Calculate the angle to the center the pointer entered/exited
                // and convert to clockwise format (top/right/bottom/left = 0/1/2/3).
                var d = Math.round(Math.atan2(y, x) / 1.57079633 + 5) % 4;

                return directions[d];
            };

            document.addEventListener('DOMContentLoaded', function (event) {
                // Loop over items (in a IE11 compatible way).
                var items = document.getElementsByClassName('hover');
                for (var i = 0; i < items.length; i++) {

                    // Loop over the registered event types.
                    ['mouseenter', 'mouseleave'].forEach(function (eventname) {
                        items[i].addEventListener(eventname, function (event) {

                            // Retrieve the direction of the enter/leave event.
                            var dir = getHoverDirection(event);

                            // Reset classes.
                            // event.currentTarget.className = 'item hover';
                            // > If support for IE11 is not needed.
                            // event.currentTarget.classList.remove('mouseenter', 'mouseleave', 'top', 'right', 'bottom', 'left');
                            // > If support for IE11 is needed.
                            event.currentTarget.classList.remove('mouseenter');
                            event.currentTarget.classList.remove('mouseleave');
                            event.currentTarget.classList.remove('top');
                            event.currentTarget.classList.remove('right');
                            event.currentTarget.classList.remove('bottom');
                            event.currentTarget.classList.remove('left');

                            // Add the event and direction classes.
                            // > If support for IE11 is not needed.
                            // event.currentTarget.classList.add(event.type, dir);
                            // > If support for IE11 is needed.
                            event.currentTarget.className += ' ' + event.type + ' ' + dir;

                        }, false);
                    });
                }
            });
        </script>