<%- include('../partials/head') %>
    <style>

    </style>
    <div id="sliderTop" class="vh-100">
        <div class="splide main-slider" style="height: inherit;">
            <div class="splide__track" style="height: inherit;">
                <ul class="splide__list" style="height: inherit;">
                    <li class="splide__slide" style="height: inherit;">
                        <div class="slide_content">
                            <p>hello</p>
                            <h5>Tour in Swizerland</h5>
                            <p>Lörem ipsum lan nedonat. Kise nätpoker dogt. Bist geolig.
                                Leligt. Obasat revis kopot frisparkssprej. Krolig mande dir.
                                Solaliga icke-binär: vyrade. Profarade trer trollfilter solabus. Shoppingspion giskapet
                                eller teranat ultragt.</p>
                        </div>
                        <img style="height: inherit;" src="<%= basePath %>img/sl1.jpg" alt="Image 1">
                    </li>
                    <li class="splide__slide" style="height: inherit;"><img style="height: inherit;"
                            src="<%= basePath %>img/sl2.jpg" alt="Image 2"></li>
                    <li class="splide__slide" style="height: inherit;"><img style="height: inherit;"
                            src="<%= basePath %>img/sl3.jpg" alt="Image 3"></li>
                    <li class="splide__slide" style="height: inherit;"><img style="height: inherit;"
                            src="<%= basePath %>img/sl4.jpg" alt="Image 2"></li>
                    <li class="splide__slide" style="height: inherit;"><img style="height: inherit;"
                            src="<%= basePath %>img/sl5.jpg" alt="Image 1">
                    </li>

                </ul>
            </div>
        </div>
        <div class="splide thumbnail-slider position-absolute w-100" style="">
            <div class="splide__track">
                <ul class="splide__list p-5 justify-content-center" style="padding: 20px !important ;">
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl1.jpg"
                            alt="Image 1">
                    </li>
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl2.jpg"
                            alt="Image 2"></li>
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl3.jpg"
                            alt="Image 3"></li>
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl4.jpg"
                            alt="Image 2"></li>
                    <li class="splide__slide"><img style="height: inherit;" src="<%= basePath %>img/sl1.jpg"
                            alt="Image 1">
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- slider section-->
    <!-- vetnam section -->
    <div class="container my-4">
        <div class="row">
            <div class="col-7">
                <div>
                    <h2 class="fw-bold fs-1 ">Explore all tour of vietnam with us</h2>
                    <p class="font_primary my-4">
                        Lörem ipsum dengen nilig därför att jilide, besat mikroktigt ifall poling såning. Dengar kagen
                        makrobel såsom mikrol oktigt rede. Mism superspridare fapuspegt. Kromalogod rånynde sobektig kasm,
                        att osobel, det, konkemi filoitet. Neonetik hedössa i dinining sass pretenar som kalirtad.
                        Elektroosmos rening. Benebel pompekunskap att berade. Nåvis teraber. Vahet nynirade heterolaren.
                        Resam tregt makroseranar vaheten. Dertad ärehest än vådade nåliga en homoning rev. Lus öputt. Depad
                        kront, i tetraska kaling nedöss. Desyre sabelt till vänera pest. Syligt vobba att antisyren i
                        våsyment då trans, och onat. Delilig assade dihere, dor.
                    </p>
                </div>
                <!-- slider -->
                <div class="splide destination-slider " style="">
                    <div class="splide__track">
                        <ul class="splide__list" >
                            <li class="splide__slide"><imgm class="h-100 w-100" src="<%= basePath %>img/sl1.jpg"
                                    alt="Image 1">
                            </li>
                            <li class="splide__slide"><imgm class="h-100 w-100"  src="<%= basePath %>img/sl2.jpg"
                                    alt="Image 2"></li>
                            <li class="splide__slide"><imgm class="h-100 w-100"  src="<%= basePath %>img/sl3.jpg"
                                    alt="Image 3"></li>
                            <li class="splide__slide"><imgm class="h-100 w-100"  src="<%= basePath %>img/sl4.jpg"
                                    alt="Image 2"></li>
                            <li class="splide__slide"><imgm class="h-100 w-100" style="height: inherit;" src="<%= basePath %>img/sl1.jpg"
                                    alt="Image 1">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-5 row">
                <div class="col-6" style="transform: translateY(-41px);">
                    <div class=" my-4 rounded-2 overflow-hidden shadow-lg" style="aspect-ratio: 1/1;width: 239px;">
                        <img class="w-100" style="height: inherit;height: 100%;" src="http://localhost:3000/img/sl1.jpg"
                            alt="Image 1">
                    </div>
                    <div class=" my-2 rounded-2 overflow-hidden shadow-lg" style="aspect-ratio: 1/1;width: 239px;">
                        <img class="w-100 " src="http://localhost:3000/img/sl4.jpg" alt="Image 2" style="height: 100%;">
                    </div>
                </div>
                <div class="col-6">
                    <div class=" my-4 rounded-2 overflow-hidden shadow-lg" style="aspect-ratio: 1/1;width: 239px;">
                        <img class="w-100 " src="http://localhost:3000/img/sl4.jpg" alt="Image 2" style="height: 100%;">
                    </div>
                    <div class=" my-2 rounded-2 overflow-hidden shadow-lg" style="aspect-ratio: 1/1;width: 239px;">
                        <img class="w-100" style="height: inherit;height: 100%;" src="http://localhost:3000/img/sl1.jpg"
                            alt="Image 1">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var mainSlider = new Splide('.main-slider', {
                    // Your main slider options here
                    type: 'fade',
                    heightRatio: 0.48,
                    pagination: false,
                    arrows: false,
                    cover: true,
                    breakpoints: {
                        600: {
                            heightRatio: 0.7,
                        },
                    }
                }).mount();

                var thumbnailSlider = new Splide('.thumbnail-slider', {
                    // Your thumbnail slider options here
                    fixedWidth: 220,
                    fixedHeight: 126,
                    isNavigation: true,
                    gap: 20,
                    arrows: false,
                    // focus       : 'center',
                    pagination: false,
                    cover: true,
                    breakpoints: {
                        600: {
                            fixedWidth: 66,
                            fixedHeight: 40,
                        },
                    }
                }).mount();

                mainSlider.sync(thumbnailSlider);

                thumbnailSlider.on('click', function (slide) {
                    mainSlider.go(slide.index);
                });
                var splide = new Splide( '.destination-slider', {
                    type: 'fade',
                    fixedHeight: 126,
                    fixedWidth: 126,
                    pagination: false,
                    arrows: false,
                    cover: true,
  type  : 'fade',
  rewind: true,
  autoplay: true,
} );

splide.mount();
            });
           
        </script>