<%- include('../partials/head') %>
    <style>
        @keyframes oscillate {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(0);
            }
        }

        .oscillate {
            animation: oscillate 2s ease-in-out infinite;
            /* Adjust duration and timing as needed */
        }
    </style>
    <div id="sliderTop" class="vh-100">
        <div class="splide main-slider" style="height: inherit;">
            <div class="splide__track" style="height: inherit;">
                <ul class="splide__list" style="height: inherit;">
                    <li class="splide__slide" style="height: inherit;">
                        <div class="slide_content">
                            <p>hello</p>
                            <h5>Tour in Swizerland</h5>
                            <p>Lörem ipsum lan nedonat. Kise nätpoker dogt. Bist geolig.
                                Leligt. Obasat revis kopot frisparkssprej. Krolig mande dir.
                                Solaliga icke-binär: vyrade. Profarade trer trollfilter solabus. Shoppingspion giskapet
                                eller teranat ultragt.</p>
                        </div>
                        <img style="height: inherit;" src="<%= basePath %>img/sl1.jpg" alt="Image 1">
                    </li>
                    <li class="splide__slide" style="height: inherit;"><img style="height: inherit;"
                            src="<%= basePath %>img/sl2.jpg" alt="Image 2"></li>
                    <li class="splide__slide" style="height: inherit;"><img style="height: inherit;"
                            src="<%= basePath %>img/sl3.jpg" alt="Image 3"></li>
                    <li class="splide__slide" style="height: inherit;"><img style="height: inherit;"
                            src="<%= basePath %>img/sl4.jpg" alt="Image 2"></li>
                    <li class="splide__slide" style="height: inherit;"><img style="height: inherit;"
                            src="<%= basePath %>img/sl5.jpg" alt="Image 1">
                    </li>

                </ul>
            </div>
        </div>
        <div class="splide thumbnail-slider position-absolute w-100" style="">
            <div class="splide__track">
                <ul class="splide__list p-5 justify-content-center" style="padding: 20px !important ;">
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl1.jpg"
                            alt="Image 1">
                    </li>
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl2.jpg"
                            alt="Image 2"></li>
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl3.jpg"
                            alt="Image 3"></li>
                    <li class="splide__slide"><img style="width: 600px; height: 300px;" src="<%= basePath %>img/sl4.jpg"
                            alt="Image 2"></li>
                    <li class="splide__slide"><img style="height: inherit;" src="<%= basePath %>img/sl5.jpg"
                            alt="Image 1">
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- slider section-->
    <!-- vetnam section -->
    <div class="container my-4">
        <div class="row gx-4 justify-content-between">
            <div class="col-7">
                <div>
                    <h2 class="fw-bold fs-1 ">Explore all tour of vietnam with us</h2>
                    <p class="font_primary my-4">
                        Lörem ipsum dengen nilig därför att jilide, besat mikroktigt ifall poling såning. Dengar kagen
                        makrobel såsom mikrol oktigt rede. Mism superspridare fapuspegt. Kromalogod rånynde sobektig
                        kasm,
                        att osobel, det, konkemi filoitet. Neonetik hedössa i dinining sass pretenar som kalirtad.
                        Elektroosmos rening. Benebel pompekunskap att berade. Nåvis teraber. Vahet nynirade heterolaren.
                        Resam tregt makroseranar vaheten. Dertad ärehest än vådade nåliga en homoning rev. Lus öputt.
                        Depad
                        kront, i tetraska kaling nedöss. Desyre sabelt till vänera pest. Syligt vobba att antisyren i
                        våsyment då trans, och onat. Delilig assade dihere, dor.
                    </p>
                </div>
                <!-- slider -->
                <div class="splide destination-slider rounded-2" style="">
                    <div class="splide__track rounded-2">
                        <ul class="splide__list rounded-2">
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Ha Long Bay</p>
                                <img class="h-100 w-100" src="<%= basePath %>img/sl1.jpg" alt="Image 1">
                            </li>
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Ha Long Bay</p>
                                <img class="h-100 w-100" src="<%= basePath %>img/sl2.jpg" alt="Image 2">
                            </li>
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Ha Long Bay</p>
                                <img class="h-100 w-100" src="<%= basePath %>img/sl3.jpg" alt="Image 3">
                            </li>
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Ha Long Bay</p>
                                <img class="h-100 w-100" src="<%= basePath %>img/sl4.jpg" alt="Image 2">
                            </li>
                            <li class="splide__slide boxshadow rounded-2">
                                <p class="text-white m-5 fs-6 fw-bold position-relative z-3">Ha Long Bay</p>
                                <img class="h-100 w-100" style="height: inherit;" src="<%= basePath %>img/sl1.jpg"
                                    alt="Image 1">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-5 oscillate row">
                <div class="col-6 " style="transform: translateY(-41px);">
                    <div class=" my-4 rounded-2 overflow-hidden shadow-lg" style="aspect-ratio: 1/1;width: 239px;">
                        <img class="w-100" style="height: inherit;height: 100%;" src="http://localhost:3000/img/sl1.jpg"
                            alt="Image 1">
                    </div>
                    <div class=" my-2 rounded-2 overflow-hidden shadow-lg" style="aspect-ratio: 1/1;width: 239px;">
                        <img class="w-100 " src="http://localhost:3000/img/sl4.jpg" alt="Image 2" style="height: 100%;">
                    </div>
                </div>
                <div class="col-6">
                    <div class=" my-4 rounded-2 overflow-hidden shadow-lg" style="aspect-ratio: 1/1;width: 239px;">
                        <img class="w-100 " src="http://localhost:3000/img/sl4.jpg" alt="Image 2" style="height: 100%;">
                    </div>
                    <div class=" my-2 rounded-2 overflow-hidden shadow-lg" style="aspect-ratio: 1/1;width: 239px;">
                        <img class="w-100" style="height: inherit;height: 100%;" src="http://localhost:3000/img/sl1.jpg"
                            alt="Image 1">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- call to action form -->
    <div class="container my-4 section_padding">
        <!-- Destination drop down selecter -->
        <!-- from   date -->
        <!-- select duration -->
        <!-- budget -->
        <!-- tour type -->
        <div class="shadow-lg bg-white p-5">
            <form method="post">
                <div class="d-flex align-items-end">
                    <div class="flex-grow-1 mx-2">
                        <label for="" class="w-100 my-2">Select Destination</label>
                        <div class=" p-3 bg-light text-muted">
                            <select name="s" class="border-0 bg-transparent outline-0 w-100">
                                <option value="#">vietnam</option>
                                <option value="#">Maldiv</option>
                                <option value="#">Thailand</option>
                                <option value="#">Spain</option>
                                <option value="#">Egypt</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex-grow-1 mx-2">
                        <label for="" class="w-100 my-2">Date</label>
                        <div class=" p-3 bg-light text-muted">
                            <input type="text" id="datepicker" placeholder="DD / MM / YY"
                                class="border-0 bg-transparent outline-0 w-100">
                        </div>
                    </div>
                    <div class="flex-grow-1 mx-2">
                        <label for="" class="w-100 my-2">Duration</label>
                        <div class=" p-3 bg-light text-muted">
                            <input type="text" id="" class="border-0 bg-transparent outline-0 w-100"
                                placeholder="7 Days">
                        </div>
                    </div>
                    <div class="flex-grow-1 mx-2">
                        <label for="" class="w-100 my-2">Tour Type</label>
                        <div class=" p-3 bg-light text-muted">
                            <select name="s" class="border-0 bg-transparent outline-0 w-100">
                                <option value="#">Adventure</option>
                                <option value="#">Cultural</option>
                                <option value="#">Luxury</option>
                                <option value="#">Random People</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex-grow-1 mx-2">
                        <button type="button" class="w-100 border-0 gradiant p-3 text-white">Inquire Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- top destination  -->
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class=" fs-1 " style="font-weight: 900;">TOP NOTCH DESTINATION</h2>
            </div>
            <div class="col-6">
                <p>Aperiam sociosqu urna praesent, tristique, corrupti condimentum asperiores platea ipsum ad arcu.
                    Nostrud. Aut nostrum, ornare quas provident laoreet nesciunt.</p>
            </div>
            <div class="row my-4" style="
            height: 36rem;">
                <div class="col-7 h-100">
                    <div class="row h-100">
                        <div class="col-6 h-100">
                            <div class="h-100 p-2 bg-white ren shadow-lg position-relative">
                                <p class="position-absolute top-0 start-0 bg-white p-2 m-4"
                                    style="letter-spacing: 1pt;">Thailand</p>
                                <div class="position-absolute bottom-0 start-0 fs-4 p-2 m-4"
                                    style="letter-spacing: 1pt;">
                                    <p class="text-white">The Grand Palace</p>
                                </div>
                                <div class="overlay"></div>
                                <img class="h-100  w-100" style="width: 100%; object-fit:cover;"
                                    src="http://localhost:3000/img/sung-shin-KipWnQeqUhc-unsplash.jpg" alt="Image 2">
                                <!-- the grand palace -->
                            </div>

                        </div>
                        <div class="col-6 h-100">
                            <div class="h-100 p-2 bg-white shadow-lg ren position-relative">
                                <p class="position-absolute top-0 start-0 bg-white p-2 m-4"
                                    style="letter-spacing: 1pt;">Norway</p>
                                <div class="position-absolute bottom-0 start-0 fs-4 p-2 m-4"
                                    style="letter-spacing: 1pt;">
                                    <p class="text-white">Trolltunga</p>
                                </div>
                                <div class="overlay"></div>
                                <img class="h-100 " style="width: 100%; object-fit:cover;"
                                    src="http://localhost:3000/img/sebastien-goldberg-vgGjc_jHyfU-unsplash.jpg"
                                    alt="Image 2">
                                <!-- Trolltunga -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 h-100">
                    <div class="col-12  h-50 pb-2">
                        <div class="shadow-lg ren p-2 bg-white position-relative h-100">
                            <p class="position-absolute top-0 start-0 bg-white p-2 m-4" style="letter-spacing: 1pt;">
                                Japan</p>
                            <div class="position-absolute bottom-0 start-0 fs-4 p-2 m-4" style="letter-spacing: 1pt;">
                                <p class="text-white">The Kumano Kodo</p>
                            </div>
                            <div class="overlay"></div>
                            <img class="h-100" style="width: 100%;object-fit:cover;aspect-ratio: 2/1;"
                                src="http://localhost:3000/img/kumano-kodo-1030462_1280.jpg" alt="Image 2">
                            <!-- The Kumano Kodo -->
                        </div>
                    </div>

                    <div class="col-12 h-50 pt-3">
                        <div class="shadow-lg ren p-2 bg-white position-relative h-100">
                            <p class="position-absolute top-0 start-0 bg-white p-2 m-4" style="letter-spacing: 1pt;">
                                Singapore</p>
                            <div class="position-absolute bottom-0 start-0 fs-4 p-2 m-4" style="letter-spacing: 1pt;">
                                <p class="text-white">Gardens by the Bay</p>
                            </div>
                            <div class="overlay"></div>
                            <img class="h-100" style="width: 100%;object-fit:cover;aspect-ratio: 2/1;"
                                src="http://localhost:3000/img/victor-yi56XJsYY0Q-unsplash.jpg" alt="Image 2">
                            <!-- Gardens by the Bay -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 d-flex justify-content-center py-3 my-5  ">
                <button type="button" class="border-0 gradiant p-3 text-white ">Explore Destinations</button>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>

        <script>
            flatpickr("#datepicker", {
                dateFormat: "d-m-Y", // Set the date format to YYYY-MM-DD
                // Other options...
            });
            document.addEventListener('DOMContentLoaded', function () {
                var mainSlider = new Splide('.main-slider', {
                    // Your main slider options here
                    type: 'fade',
                    heightRatio: 0.48,
                    pagination: false,
                    arrows: false,
                    cover: true,
                    breakpoints: {
                        600: {
                            heightRatio: 0.7,
                        },
                    }
                }).mount();

                var thumbnailSlider = new Splide('.thumbnail-slider', {
                    // Your thumbnail slider options here
                    fixedWidth: 220,
                    fixedHeight: 126,
                    isNavigation: true,
                    gap: 20,
                    arrows: false,
                    // focus       : 'center',
                    pagination: false,
                    cover: true,
                    breakpoints: {
                        600: {
                            fixedWidth: 66,
                            fixedHeight: 40,
                        },
                    }
                }).mount();

                mainSlider.sync(thumbnailSlider);

                thumbnailSlider.on('click', function (slide) {
                    mainSlider.go(slide.index);
                });

                var splide = new Splide('.destination-slider', {
                    type: 'fade',
                    fixedHeight: 300,
                    fixedWidth: '100%',
                    pagination: false,
                    arrows: true,
                    cover: true,
                    type: 'fade',
                    rewind: true,
                    autoplay: true,
                });

                splide.mount();
            });
            // overlay animation


            // Select all elements with the class 'shadow-lg'
          











        </script>